/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: "Sarabun", 'Roboto', 'Arial', sans-serif;
}
a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}
